<app-navbar
    (createNewTarget)="onCreateNewTarget($event)"
></app-navbar>

<br>
<br>

<div *ngFor="let target of targetList">
    <app-target-list
        [target]="target"
        (editClicked)="onEditTarget($event)"
        (deleteClicked)="onDeleteTarget($event)"
    ></app-target-list>
</div>

<div>
    <app-modal
        [targetModal]="targetModal"
        (closeTargetModal)="onCloseTargetModal($event)"
        [targetModalHeader]="targetModalHeader"
        (addNewTarget)="onAddNewTarget($event)"
        [targetData]="defaultTargetData"
        [actionType]="actionType"
        [targetId]="targetId"
    ></app-modal>
</div>
